<script>

    //设置表单中的初始时间，比当前时间多一小时
    var now = new Date();
    now.setHours(now.getHours() + 1);
    var str = now.getFullYear() + "-" + fix((now.getMonth() + 1), 2) + "-" + fix(now.getDate(), 2) + "T" + fix(now.getHours(), 2) + ":" + fix(now.getMinutes(), 2);
    $("#startDate").val(str);

    //将日期格式化为两位，不足补零
    function fix(num, length) {
        return ('' + num).length < length ? ((new Array(length + 1)).join('0') + num).slice(-length) : '' + num;
    }

    //发送订单
    function sendOrder() {
        //将datetime-local转换为Date
        x = $("#startDate").val();
        now.setFullYear(parseInt(x.substring(0, 4)));
        now.setMonth(parseInt(x.substring(5, 7)) - 1);
        now.setDate(parseInt(x.substring(8, 10)));
        now.setHours(parseInt(x.substring(11, 13)));
        now.setMinutes(parseInt(x.substring(14, 16)));

        //获取表单数据，并序列化
        var formData = $("#order").serializeArray();

        //将序列化数据转为对象
        var formObject = {};
        for (var item in formData) {
            formObject[formData[item].name] = formData[item].value;
        }
        formObject.startDate = now;
        var formJSON = JSON.stringify(formObject);

        //发送JSON到服务器
        $.ajax({
            type: "POST",
            url: "<%=basePath%>/order/addOrder",
            contentType: "application/json",  //一定要设置这一行，很关键
            data: formJSON,
            datatype: "json",
            success: function (data) {
                alert(JSON.stringify(data));
            }
        });
    }
</script>
