<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 弹出框（Popover）插件</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="padding: 100px 50px 10px;" >
   <button type="button" class="btn btn-default" title="Popover title"
            data-container="body" data-toggle="popover" data-placement="left"
            data-content="左侧的 Popover 中的一些内容">
        左侧的 Popover
    </button>
    <button type="button" class="btn btn-primary" title="Popover title"
            data-container="body" data-toggle="popover" data-placement="top"
            data-content="顶部的 Popover 中的一些内容">
        顶部的 Popover
    </button>
    <button type="button" class="btn btn-success" title="Popover title"
            data-container="body" data-toggle="popover" data-placement="bottom"
            data-content="底部的 Popover 中的一些内容">
        底部的 Popover
    </button>
    <button type="button" class="btn btn-warning" title="用户信息"
            data-container="body" data-toggle="popover" data-placement="right"
            data-html="true"
            data-content="
                <form class='bs-example bs-example-form' role='form'>
                <div class='input-group'>
                    <span class='input-group-addon'style=' width:50px; '>用户名</span>
                    <input type='text' class='form-control' placeholder='twitterhandle'>
                </div>
                <br>
                <div class='input-group'>
                    <span class='input-group-addon'>密码</span>
                    <input type='text' class='form-control' placeholder='twitterhandle'>
                </div>
                <br>
                <div class='input-group'>
                    <span class='input-group-addon'>手机号码</span>
                    <input type='text' class='form-control' placeholder='twitterhandle'>
                </div>
                <br>
                <div class='input-group'>
                    <span class='input-group-addon'>邮箱号码</span>
                    <input type='text' class='form-control' placeholder='twitterhandle'>
                </div>
                <br>
                &lt;!&ndash;<div class='input-group'>
                    <input type='text' class='form-control'>
                    <span class='input-group-addon'>.00</span>
                </div>
                <br>
                <div class='input-group'>
                    <span class='input-group-addon'>$</span>
                    <input type='text' class='form-control'>
                    <span class='input-group-addon'>.00</span>
                </div>&ndash;&gt;
                </form> ">
        右侧的 Popover
    </button>


<!---------------->
    <a href="#" class="bind_hover_card" data-toggle="popover" data-placement="bottom" data-trigger="hover">
        <!--<img  src="C:\Users\11578\Pictures\Camera Roll\thumb-1920-981940.png" />-->浮动的popover</a>
</div>
<script>
   $(function () {
        $("[data-toggle='popover']").popover();
    });
    /*浮动的*/
    $(function() {
        $("[data-toggle='popover']").popover({
            html : true,
            title: title(),
            delay:{show:500, hide:1000},
            content: function() {
                return content();
            }
        });
    });
    //模拟动态加载标题(真实情况可能会跟后台进行ajax交互)
    function title() {
        return '田喜碧Hebe(节制的人生)';
    }

    //模拟动态加载内容(真实情况可能会跟后台进行ajax交互)
    function content() {
        var data = $("<form><ul><li><span aria-hidden='true' class='icon_globe'></span>&nbsp;<font>粉丝数:</font>7389223</li>" +
            "<li><span aria-hidden='true' class='icon_piechart'></span>&nbsp;<font>关注:</font>265</li>" +
            "<li><span aria-hidden='true' class='icon_search_alt'></span>&nbsp;<font>微博:</font>645</li>" +
            "<li><span aria-hidden='true' class='icon_pens_alt'></span>&nbsp;<font>所在地:</font>台湾</li>" +
            "<input id='btn' type='button' value='关注' οnclick='test()'/></form>");

        return data;
    }
    //模拟悬浮框里面的按钮点击操作
    function test() {
        alert('关注成功');
    }
</script>

</body>
</html>
